/* 초기화 세팅 */

html{
    font-size: 62.5%;
}

body,p,ol,ul{
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

body::-webkit-scrollbar {
    width: 0;  /* 스크롤바의 너비 */
}

/* 웹폰트 연결 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@font-face{
    src: url("../font/TossFaceFontMac.ttf");
    font-family: "Toss Face";
}


/* ============================================ */

/* 백그라운드 이미지 */

body{
    background-image: url(../img_sc/로고/subway_background_img.png);
    background-size: 1920px, 1080px;
}

/* ============================================ */

/* 레이아웃 */

.section{
    width: 1381px;
    margin: auto;
}

.main-container{
    position: relative;
    margin-top: 200px;

    width: 1380px;
    height: 880px;
}

.box{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -99;
}

.title-container div{
    display: inline-block;
}

.title-container, .subtitle, .contour-1, .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title-container{
    top: 145px;
}

.subtitle{
    top: 300px;
}

.contour-1{
    top: 385px;
}

.order-number-container{
    position: absolute;
    top: 475px;
    left: 300px;

    text-align: center;
}

.order-number{
    margin-bottom: 35px;
}

.contour-2{
    position: absolute;
    transform: rotate(90deg);
    left: 503px;
    top: 585px;
}

.price-btn-container{
    position: absolute;
    top: 475px;
    left: 870px;

    text-align: center;
}

.total-price{
    margin-bottom: 65px;
}

.logo{
    top: 800px;
}

/* ============================================ */

/* 텍스트 스타일링 */

.title-emoji{
    font-family: 'Toss Face';
}

.title-text, .subtitle, .contour-1, .contour-2, .order-number, .random-number, .total-price, .move-main{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}

.title-text, .subtitle, .order-number, .random-number, .total-price, .move-main{
    color: #000;
}

.contour-1, .contour-2{
    color: #CCC;
}

.title-text, .title-emoji, .random-number{
    font-size: 9.6rem;
}

.subtitle, .order-number, .total-price, .move-main{
    font-size: 3.2rem;
}

.contour-1, .contour-2{
    font-size: 2.0rem;
}

/* 버튼 스타일링 */

.price-btn-container button{
    background-color: #fff;
    border: solid #000 2px;
    min-width: 300px;
    min-height: 100px;
    border-radius: 100px;
    padding-bottom: 6px;
}

.price-btn-container button:hover{
    background-color: #009945;
    cursor: pointer;
}

/* 로고 스타일링 */

.logo img{
    height: 50px;
}